<!-- <router-outlet></router-outlet> -->
<h1 class="title-example ">Examples</h1>

<div class="container-cards">
  <mat-card class="container-card">
    <mat-card-header class="container-card-header">
      <h1 class="container-card-header-title">Modal Template Success</h1>
    </mat-card-header>
    <mat-card-actions class="container-card-actions">
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mTSuccess()">mTSuccess</button>
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mTSuccessLog()">mTSuccessLog</button>
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mTSuccessConfirm()">mTSuccessConfirm</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="container-card">
    <mat-card-header class="container-card-header">
      <h1  class="container-card-header-title">Modal Template Alert</h1>
    </mat-card-header>
    <mat-card-actions class="container-card-actions">
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mTAlert()">mTAlert</button>
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mTAlertLog()">mTAlertLog</button>
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mTAlertConfirm()">mTAlertConfirm</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="container-card">
    <mat-card-header class="container-card-header">
      <h1  class="container-card-header-title">Modal Template Error</h1>
    </mat-card-header>
    <mat-card-actions class="container-card-actions">
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mTError()">mTError</button>
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mTErrorLog()">mTErrorLog</button>
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mTErrorConfirm()">mTErrorConfirm</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="container-card">
    <mat-card-header class="container-card-header">
      <h1  class="container-card-header-title">Custom Modal</h1>
    </mat-card-header>
    <mat-card-actions class="container-card-actions">
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mManualBasic()">mManualBasic</button>
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mManualLog()">mManualLog</button>
      <button style="display: block; width: 100%; margin: 3%;" mat-raised-button color="primary" (click)="mManualConfirm()">mManualConfirm</button>
    </mat-card-actions>
  </mat-card>
</div>
